
/*********************************************************************************
                                     BUTTON
*********************************************************************************/
.button {
    font-size: 14px;
    text-align: center;
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    background-color: #3740ff;
    border-radius: 3.5px;
    box-shadow: 0px 0 5px 1px rgba(0, 0, 0, 0.2);
}

.button p {
    display: inline-block;
}

.button::after{
    content: '\2001\2001 🠆';
    color: white;
}

.button:hover{
   background-color: #686ffa;
   cursor: pointer;
}

.button--S{
    width: 170px;
    padding: 14px 17px;
}

.button--L{
    width: 230px;
    padding: 17.5px 17px;
}

/*********************************************************************************
                                    TITLES
*********************************************************************************/
.title {
    font-family: canada-type-gibson,sans-serif;
    font-weight: 500;
    color: #181b31;
    text-align: left; /*risque d'erreur*/
}

.title--XL {
    font-size: 50px;
    line-height: 1.13;
    letter-spacing: -0.3px;
}

.title--M {
    font-size: 40px;
    line-height: 0.89;
    letter-spacing: -0.18px;
}

.title--S {
    font-size: 34px;
    line-height: 0.89;
    letter-spacing: -0.18px;
}

.title--XS {
    font-size: 22px;
    line-height: 1.8;
    letter-spacing: normal;
}

.title--color-red-M {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 4.5;
    letter-spacing: 0.7px;
    color: #ff3f63;
}
/* logo */
.logo{ width: 15px; }
.--chevron { width: 10px; }

/*********************************************************************************
                                    PARAGRAPHS
*********************************************************************************/
.paragraph {
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    color: #899097;
}

.paragraph--XXL {
    font-size: 25px;
    letter-spacing: 0.3px;
    line-height: 5px;
}

.paragraph--XL {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
}

.paragraph--M {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}

.paragraph--S {
    font-size: 14px; 
    letter-spacing: 0.16px;
    line-height: 24px;
}

.paragraph--S li:hover{
    cursor: pointer;
    color:  #3740ff;
}

/*********************************************************************************
                                     LINKS
*********************************************************************************/
.link {
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style-type: none;
}

.link:hover{
    cursor: pointer;
}

.--footer-link {
    color: #899097;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.link__nav {
    color: #899097;
    font-size: 15px;
    line-height: 2.78;
    letter-spacing: 0.09px;
}
.link__nav:hover {
  color:  #3740ff;
}
.link__nav:hover::after { /*doit aller a la ligne*/
    content: '🠆';
    position: absolute;
    left: calc(50% - 8px);
    top: 15px;
    font-size: 17px;
    font-weight: 800;
}

.link--color-blue{
    color: #3740ff;
    font-size: 16px;
    letter-spacing: 0.09px;
    line-height: 15px;
}
.link--color-blue:hover {
    color: gray;
}
.link--color-blue::after {
    color: #3740ff;
    content: '\2002 🠆';
}

/*********************************************************************************
                                    FORMS
*********************************************************************************/

/******************* squares **************/
.square {
    background-color: #aaaaaa;
    border-radius: 2.5px;
    cursor: pointer;
}
.--big-square {
    position: relative;
    width: 530px;
    height: 530px;
}
.--big-square2{ /*first square on the page*/
    width: 485px;
    height: 461px;
}
.--medium-square {
    width: 280px;
    height: 280px;
}
.--little-square{
    width: 215px;
    height: 215px;
}
.--very-little-square {
    width: 180px;
    height: 180px;
}
.--rectangle{
    width: 540px;
    height: 300px;
}

/******************* circles **************/
.circle {
    width: 55px;
    height: 55px;
    padding: 15px;
    border-radius: 100%;
    background-color: rgba(243, 243, 243, 0.905);
    text-align: center;
    object-fit: contain;
}

.--gray-circle {
    width: 75px;
    height: 75px;
    background-color: #aaaaaa;
}

.--blue-circle {
   
    width: 55px;
    height: 55px;
    padding: 15px;
    background-color: #3740ff;
    line-height: 10px;
} 

/*********************************************************************************
                                   COMPORTMENT
*********************************************************************************/

.--zoom{ transition: transform .3s; }
.--zoom:hover{ transform: scale(1.05); }
.--rotate2p5--scale:hover{ transform: scale(1.05) rotate(2.5deg) }
.--rotate90 { transform: rotate(-90deg); }
.--rotate180{ transform: rotate(-180deg); }
.--pointer{ cursor: pointer; }
.--fun-cursor:hover{ cursor: url(./logos/cursor-32.png), auto; }
.--center-bloc { margin: 0 auto; }
.--center-text { text-align: center; }
.--float-left{ float: left; }
.--float-right{ float: right; }
.--m50{ margin: 50px; }
.--mt100{margin-top: 100px;}
/*********************************************************************************
                                   COMPORTMENT (STYLES, COLORS.)
*********************************************************************************/

.--fun-rotate:hover { 
    transition: 2s;
    transform: rotateX(360deg);
   
}
.--shadow { box-shadow: 0px 0 5px 1px rgba(0, 0, 0, 0.2); }
.--light-shadow { box-shadow: 0px 0 5px 1px rgba(0, 0, 0, 0.05); }
.--color-white { color: white; }
.--color-black { color : #181b31 }
.--degraded{ background: linear-gradient(rgb(90, 90, 90),#aaaaaa); }
strong{  font-weight: normal; }

/*******************************************************************************************

                                 _ __   __ _  __ _  ___ 
                                | '_ \ / _` |/ _` |/ _ \
                                | |_) | (_| | (_| |  __/
                                | .__/ \__,_|\__, |\___|
                                | |           __/ |     
                                |_|          |___/   

 *******************************************************************************************/
/*******************************
            HEADER
*******************************/
body, *, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

.bg {
    position: absolute;
    width: 100%;
    height: 1200px;
    background:no-repeat url(./images/bg.png);
    background-size: 100%;
    background-position: center;
    z-index: -9999;
}
 
header {
    width: 100%;
    height: 80px;
    margin-bottom: 50px;
}

#R-logo{
    float: left;
    margin: 20px 0 0 25px;
    width: 65px
}

#R-logo:hover{
    cursor: pointer;

 }
 
header nav ul{
    float: left;
    margin: 35px 0 0 80px;
}

header nav ul li{
    position: relative;
    list-style-type: none;
    display:inline-block;
    margin-right: 20px;  
}

header nav .button {
   float: right;
   margin: 35px;
  
}

/********************************************************
                            MAIN
********************************************************/
main { max-width: 71.5%; }
/******    SECTION1     *******/
/*          container1      */
.section1{ position: relative; }

 .section1 .container1{
    margin-top: 100px;
    width: 401px;
}

.section1 .container1 .bloc-text{ width: 90%; }
.section1 .container1 p{ margin: 15px 0 40px 0; }

/*          container2      */
.section1 .container2 {
    position: relative;
    margin-top: 150px;
    height: 200px;
    padding: 40px;
    background-color: #fff;
}

.section1 .container2 p { margin-top: 30px ; }
.section1 .container2 .paragraph-bloc { width: 55%; }
.section1 .container2 #img-rock {
    position: absolute;
    top: 15%;
    right: 12%;
}

.section1 .container2 .bloc-rotation {
    position: absolute;
    top: 20px;
    right: 0;
    width: 200px;
    height: 100px;
}

.section1 .img-color {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 450px;
}

.section1 .container2 .bloc-rotation p { margin-bottom: -40px; }

/******    SECTION2    *******/
/*          container1      */
.section2 {
    position: relative;
    height: 500px;
    margin-top: 200px;
}

.section2 .container { padding-top: 50px ; width: 401px; z-index: -999;}
.section2 .container p { margin-left: 60px; }
.section2 .container h3 { 
    margin-bottom: 20px; 
    margin-left: 60px;
}
.section2 hr {
    margin: 30px 0;
    border: none;
    background-color:#d8dcdf;
    height: 0.5px;
}

.section2  .square {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 100px;
}

.section2 #yellow-rock {
    position: absolute;
    top: -50px;
    right: -100px;
    z-index: -1;
}

/******    SECTION3    *******/
/*          container1      */

.section3{
    position: relative;
    height: 500px;
    margin-top: 300px;
}

.section3 .container-col1 { /*deux carré de gauche*/
    display: inline-block;
    width: 25%;
    margin-right: 30px;
}

.section3 .container-col2 { /*deux carré de droite*/
    position: absolute; /*probleme: margin-top décale les deux blocs (col1, col2).*/
    top: 50px;
    display: inline-block;
    width: 25%;
}
.section3 .container-col3 { /*bloc avec le texte à l'extreme droite*/
    position: absolute;
    top: 80px;
    right: 0;
    width: 35%;
}

.section3 .container-col1, .container-col2, .bloc1, .bloc2, .bloc3, .bloc4 {
    position: relative;
    height: 250px;
    margin-bottom: 30px;
    border: 1px solid transparent; /*vilain mais tout décale sans la bordure*/
    background-color: white; 
}
.section3 .container-col1 .container-col2, .bloc1 h4, .bloc2 h4, .bloc3 h4, .bloc4 h4 {
    margin-bottom: 10px;
}

.section3 .container-col1 .container-col2, .container-text {
    width: 80%;
    height: 50%;
    margin-top: 40%;
}

.section3 .container-col3 h3 { margin-bottom: 30px; }
.section3 .container-col3 p { margin-bottom: 30px; }

.img-lightBlue-rock {
    position: absolute;
    top: -18%;
    left: -15%;
    z-index: -1;
}

.section3 .img-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

/******    SECTION 4   *******/
/*          container1      */

.section4{
    position: relative;
    height: 1500px;
    margin-top: 200px;
}

.section4 .container-col1, .container-col2 { position: absolute; top: 0; width: 50%; } 
.section4 .container-col1 { left: 0; }
.section4 .container-col2 { right: -11px; }

.section4 .container-col1 .bloc-text {
     width: 80%; 
}  

.section4 .container-col1 .bloc-text p{
    margin-top: 30px;
    margin-bottom: 80px;
    width: 75%;
} 

.section4 .container-col1 .--big-square { 
    margin: 30px 30px 10px 0; 
}
.section4 .container-col2 .--big-square { margin: 10px 0 30px 0; }
.section4 .container-col2 { margin-top: 150px; }

.section4 .container-col1 .--big-square .bloc{ 
    position: absolute;
    top: 20px;
    left: 30px; 
}
.section4 .container-col2 .--big-square .bloc {
    position: absolute;
    top: 20px;
    left: 30px; 
}

.section4 .link.--blue-link {
    position: absolute;
    bottom: 50px;
    right: 0;
}

/******    SECTION 5    *******/
/*          container1      */
.section5 .big-container {
    position: relative;
    height: 500px;
    margin-top: 200px;
}
.section5 .big-container .container-col1 .title-bloc {
    width: 75%;
}
.section5 .big-container .container-col1 .bloc-text {
    width: 50%;
}

.section5 .big-container .container-col1 .bloc-text p{
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section5 .big-container .container-col2 {
    position: absolute;
    right: 16.8%;
    top: 11%;
    width: 30%;
}
.section5 .big-container .container-col3 {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
}

.square.--very-little-square {
    margin-top: 10px;
}

.img-blueBg {
    position: absolute;
    right: -50px;
    top: -50px;
    z-index: -1;
    height: 480px;
}

/******    SECTION 6   *******/
/*          container1      */
.section6 .big-container {
    position: relative;
    height: 600px;
    margin-top: 200px;
}
.section6 .big-container .container-col1{
    text-align: center;
    height: 500px;
    width: 80%;
    margin: 0 auto;
}

.section6 .big-container .container-col1 .bloc-text h2 {
    text-align: center;
}
.section6 .big-container .container-col1 .bloc-text h3 {
    line-height: 50px;
    text-align: center;
    margin-bottom: 30px;
}

#img-redBg {
    position: absolute;
    top: -50px;
    left: 40%;
    z-index: -1;
}

.section6 .--gray-circle {
    margin: 0 auto;
}

.section6 .big-container2{
    display: flex;
    height: 600px;
}

.section6 .big-container2 .container-col44 {
    margin-right: 5px;
}

.section6 .big-container2 .paragraph--S {
 margin-top: 20px;
}

/******    SECTION 7   *******/
/*          container1      */
.section7 {
    position: relative;
    height: 300px;
    margin-bottom: 200px;
}
.section7 .bloc-text { width: 43%; }

.section7 .bloc-text p {
    margin-top: 15px;
    margin-bottom: 30px;
}

.img-fest-leftRock {
    position: absolute;
    width: 280px;
    top: 0;
    left: -120px;
}
.img-fest-rightRock {
    position: absolute;
    width: 280px;
    top: 0;
    right: -120px;
}

/********************************************************
                           FOOTER
********************************************************/

footer {
    position: relative;
    max-width: 71.5%;
    margin: 0 auto;
}

footer .container-col{
    display: inline-block;
    width: 24.72%;
    height: 300px;
    overflow: hidden;
}
footer .container-col h2{
    margin-bottom: 40px;
    margin-left: 38%;
    text-align: left;
}

footer .container-col ul li {
    list-style: none;
    margin-bottom: 20px;
    padding-left: 45%; 
    margin-left: -40px; /*moche*/
}

footer .bloc-text {
    width: 30%;
    margin-top: 100px;
    margin-bottom: 100px;
}
footer .bloc-text ul {
    margin-left: 40px;
}

footer .bloc-text ul li {
    list-style: none;
    display: inline-block;
    width: 20%;
    text-align: center;
    margin-bottom: 30px;
}
