   /* Position */

    /*Modèle de la box*/

    /* Typographie */

    /* Visuel */

    /* Divers */


    /*************************************************************
                            HEADER
    **************************************************************/


    *, *::after, *::before{
        margin: 0;
        box-sizing: border-box;
        font-family: neuzeit-grotesk,sans-serif;
        font-weight: 400;
        font-style: normal;

        font-family: neuzeit-grotesk, sans-serif;
         font-weight: 700;
        font-style: normal;

        font-family: neuzeit-grotesk-condensed,sans-serif;
        font-weight: 900;
        font-style: normal;

        font-family: neuzeit-grotesk-extra-conden,sans-serif;
        font-weight: 900;
        font-style: normal;
    }
    
    header {
        height: 350px;
        background-color: #aaaaaa;
        overflow: hidden;
    }
    /************************ nav *************************************/
nav {
    margin-top: 20px;
    margin: 20px;
    text-decoration: none;
}

.container-nav-logo{
    display: inline-block;
}

nav ul { 
    display: inline-block;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
   padding: 5px;
   font-size: 12px;
   font-weight: bolder;
    text-decoration: none;
    color: #ffffff;
}

.nav-principal {
    margin-right: 40%;
    margin-left: 7.85%;
}

.nav-principal a{
    margin: 10px;
}

.nav-secondary a{
    margin: 5px;
    font-family: neuzeit-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.nav-number-phone {
        margin-left: 30px;
        padding: 8px;
        font-size: 9px;    
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 2px;
        color: #ffffff;
}

/************************ Formulaire header *************************************/
.header-form{
    position: relative;
    margin-left: 15%;
    margin-top: 6%;
    width: 17%;
    
}
.header-form-title {
font-weight: 30px;
    color: white;
    margin-bottom: 20px;
}
.section1-red-title{
    color: #ff6969;
}

.header-form-text {
    display: block;
    z-index: 12;
    width: 285px;
    height: 35px;
    margin-bottom: 5%;
   border-radius: 2px;
   border: none;
}

.header-form-text::placeholder{
    color: lightgray;
    font-size: 9px;
    font-weight: 300;
    letter-spacing: 0.09px;
    padding-left: 10px;
}

.header-form-img{
    position: absolute;
    top: 15%;
    left: 13%;
    width: 6%;
    height: 10%;
}

.header-form-btn{
   /* Position */

    /*Modèle de la box*/
    padding: 8px 8.5px 6px 8.5px ;
    
    /* Typographie */
    font-size: 9px;
    font-weight: normal;
    /* Visuel */
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    /* Divers */
}

/************************ lien vidéo  *************************************/
    
.header-video{
   /* Position */
    position: absolute;
    top: 20%;
    right: 20%;
    /*Modèle de la box*/
    width: 36px;
    height: 36px;
    /* Typographie */
    /* Visuel */
    background-color: white;
    border-radius: 100%;
    /* Divers */
}

.header-video-text{
       /* Position */
       position: absolute;
       top: 26%;
       right: 18.5%;
       /*Modèle de la box*/
     
       /* Typographie */
       color: white;
       /* Visuel */
       /* Divers */
}

    /*************************************************************
                          MAIN
    **************************************************************/

    /************************ section 1  *************************************/
.section1{
   position: relative;
    background-color: #f6f6f6;
    overflow: hidden;
    height: 30%;
    padding-bottom: 6%;
}

.main-section1-text{
    display: inline-block;
    width: 20%;
    margin-left: 15%;
    margin-top: 75px;
    color: #222222;
}

.main-section1-text p {
    font-family: neuzeit-grotesk,sans-serif;
    width: 90%;
    line-height: 2rem;
    font-weight: 300;
    font-style: normal;
    margin-top: 35px; 
}

.main-section1-text p +  p  {
    margin-top: 23px ;
}


/***** section1 images *****/
.square{
    position: absolute;
    background-color: #aaaaaa;
    width: 155px ;
    height: 175px;
    border-radius: 1.5px;
    margin: 10px;
}

.button{
    background-color: #ff6969;
    font-size: 8px;
    color: white;
    width: 100px;
    border-radius: 2px;
    padding: 9.5px 18px 9.5px 17.5px;
    text-align: center;
}

.section2 h2 { /*travel with confidence */
    margin: 10%  0  5% 0;
}

.section2 .section2-container1 h3 {
    margin: 8%  10%;
}


.main-section1-button{
    margin-top: 33px;
}

.main-section1-square1{
    top: 12%;
    right: 39.5%;
}

.main-section1-square2{
    top: 30%;
    right: 50%;
}

.main-section1-square3{
    width: 110px ;
    height: 116.5px;
    top: 44%;
    right: 42.5%;
}

 /************************ section 2  *************************************/

 /****container 1 petites icones***/
.section2{
    
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    overflow: hidden;
    padding-bottom: 100px;
}

.section2-container1{
    line-height: 24px;
    font-size: 18px;
}

.section2-container1{ width: 100%; }

.section2-container1 div{
    display: inline-block;
    width: 20%;
    margin-right: 2%;
}

.section2-container1 div + div { margin-right: 2%; }

.section2-logo-color { stroke: #ff6969; }

.section2-container1 p{
    font-family: neuzeit-grotesk,sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #8a8a8a;
}

.section2-container1 h3 {  margin: 10px 0; }

 /**** container 2 4 carres***/
 .section2-container2 {
}

.section2-container2 h2 {
    margin: 10% 0 4% 0;
    font-size: 18px;
}

 .section2-container2 .bloc {
     display: inline-block;
     background-color: #aaaaaa;
     width: 220px;
     height: 275px;
     margin-bottom: 5%;
     border-radius: 2px;
 }

 .section2-container2 h2 { font-size: 26px; }

 .section2-container2 .description-bloc{
     margin: 0 2.5px;
    display: inline-block;
    width: 220px;
    text-align: left;
 }

 .section2-container2 .country-title{
    text-transform: uppercase;
    color:#aaaaaa;
    letter-spacing: 1px;
    font-size: 9px;
 }

 .section2-container2 .description-bloc p {
    margin-top: 10%;
    color: #aaaaaa;
    font-weight: 300;
    font-family: neuzeit-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
 }

 .section2-container2 .week{
 }

.btn-explore{
    display: block;
    margin: 0 auto;
    font-size: 20px;
    width: 15%;
    text-transform: uppercase;
 }

 .section2-container2 .btn-bloc{
    margin-top: 5%;
 }

 .section2-container2 .btn-bloc .btn-explore{
     border: 1px solid #ff6969;
     background-color: white;
     color: #ff6969;
 }

 /********SECTION 3 container 1 ***/
 .section3{
    background-color: #f5f6f7;
 }
 .section3-container1{
     display: flex;
     width: 100%;
 }

.section3 h2{
    margin-left: 19%;
    margin-bottom: 20px;
}

.section3-container1 .bloc-carrousel{
    position: relative;
    background-color: #aaaaaa;
    width: 70%;
    height: 400px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 4px;

}

.section3-container1 .aside{
    border-radius: 4px;
    background-color: #aaaaaa;
    width: 20%;
    height: 400px;
}

/******SECTION 3 - container 2 *********/
.section3-container2{
    text-align: center;
}

.section3-container2 .text-bloc{
    font-size: 1rem;
    margin-top: 10%;
    margin-right: 10px;
    color: #222222;
    display: inline-block;
    width: 30%;
    letter-spacing: 1px;
    line-height: 1.3rem;
    text-align: left;
}

.section3-container2 .text-bloc::before{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    content: "‘‘";
    font-size: 100px;
    color:  #dddddd;;
}
.section3-container2 .user-comment{
    margin-top: 5%;
    width: 1000px;
}

.section3-container2 .country{
    font-size: 12px;
    color: #8a8a8a;
}

.section3-container2 .circle{
    background-color: #8a8a8a;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

/* section 3 - container 3 */

.section3-container3{
    margin-top: 75px;
    overflow: hidden;
}

.white-rectangle{
    position: relative;
    background-color: white;
    width: 60%;
    height: 75px;
    margin: 0 auto;
    padding: 4% 0;
    margin-bottom: 75px;
}

.white-rectangle img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*************************
        SECTION 4
*************************/
.section4{
    clear: both;
    overflow: hidden;
}
.section4 .title-bloc {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 50px;
}
.section4 .title-bloc h2{
    font-family: neuzeit-grotesk,sans-serif;
    font-weight: 600;
}
.section4 .title-bloc  p{
    font-family: neuzeit-grotesk,sans-serif;
    font-weight: 400;
    color: #8a8a8a;
}

.section4 .boxes-bloc{
    width: 70%;
    height: 500px;
    margin: 0 auto ;
}

.section4 .boxes-bloc .bloc{
    position: relative;
     margin-top: 5px;
    width: 100%;
    background-color: #aaaaaa;
    border-radius: 2px;
}

.section4 .boxes-bloc .bloc h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}
.section4 .boxes-bloc .bloc h4{
    position: absolute;
    display: inline;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10px;
}
.section4 .boxes-bloc .bloc1{ height: 101%; } /*on ajoute 1% pour combler les 5px de marge des autres blocs*/
.section4 .boxes-bloc .bloc2{ height: 30%; }
.section4 .boxes-bloc .bloc3{ height: 70%; background-color: rgba(0,0,0,0.5);}
.section4 .boxes-bloc .bloc4{ height: 70%; }
.section4 .boxes-bloc .bloc5{ height: 30%; }

.col { display: inline-block; height: 100%; }
.col1{ width: 50%;}
.col2{ width: 24.5%; }
.col3{ width: 24.5%; }

/* SECTION 5 */

.section5 {
    margin: 0 auto;
    width: 70%;
    overflow: hidden;
    clear: both;

}

.section5 .title-bloc {
    position: relative;
    margin-top: 100px;
}

.section5 .text-bloc {
    display: inline-block;
    width: 49%;
    font-size: 20px;
    margin-right: 30%;
}
.section5 .text-bloc p {
  color: #aaaaaa;
  font-size: 14px;
  font-family: neuzeit-grotesk,sans-serif;
  font-weight: 400;
}

.section5 .btn-bloc {
    position: absolute;
    font-size: 16px;
    right: 0;
    display: inline-block;
    width: 20%;
    font: 20px;
    background-color: white;
    border: 1px solid #ff6969;
    color: #ff6969 ;
    text-transform: uppercase;
}

.nav-blocs {margin-top: 50px;}

.nav-blocs ul {
    text-align: left;
}
.nav-blocs li {
    text-transform: uppercase;
    display: inline-block;
    width: 20%;
    padding: 5px;
    
}
.nav-blocs li a{
    text-decoration: none;
    text-transform: uppercase;
    color:#aaaaaa;
    display: inline-block;
    
}

.nav-blocs hr{
    border-bottom: 1px solid #aaaaaa;
}

.nav-blocs li:hover {
    
   border-bottom :1px solid #ff6969 ;
}

.section5 .container {
    margin-top: 20px;
    width: 100%;
    height: 500px;

}

.section5 .container .col1{
    display: inline-block;
  
    width: 49%;
    height: 100%;
}

.section5 .container .col2{
    display: inline-block;
    width: 49%;
    height: 100%;
}

.section5 .container .bloc{
    position: relative;
    display: inline-block;
    margin-top: 10px;

    width: 100%;
    height: 35%;
}

.section5 .container .bloc .square{
    border-radius: 4px;
    width: 150px;
    height: 150px;
    background-color: #aaaaaa;

    
}

.section5 .container .bloc .text{
    position: absolute;
    right: 10%;
    top: 20px;
    width: 50%;
  
}

.section5 .container .bloc p{
    margin-top: 10px;
    font-family: neuzeit-grotesk,sans-serif;
    font-weight: 400;
    color: #aaaaaa;
    padding-bottom: 25px; /*decale btn vers le bas*/
  
}

.section5 .container .bloc .text .btn-special-deals {
   
    border-radius: 4px;
    background-color: #ff6969;
    color: white;
    padding: 8px 15px;
    
}

/*section 6*/

.section6 .title-bloc{
    position: relative;
    font-size: 20px;
    width: 70%;
    height: 50px;
    margin: 0 auto;
}

.section6 .title-bloc .button{
    padding: 12px 10px;
    position: absolute;
    right: 0;
    top:2px;
    background-color: #ffffff;
    border: 1px solid #ff6969 ;
    border-radius: 4px;
    color: #ff6969;
    font-size: 16px;
    text-transform: uppercase;
}

.section6 .container {
    width: 70%;
    margin: 0 auto;
}

.section6 .container .col {
    position: relative;
    width: 31%;
    margin-top: 20px;
    margin-right: 20px;
}

.section6 .container .col .square{
    position: relative;
    width: 100%;
    margin: 0;
    border-radius: 4px;
}

.section6 .container .col .text-bloc {
  margin-top: 20px;
}

.section6 .container .col .text-bloc h3{color: #aaaaaa; text-transform: uppercase;}
.section6 .container .col .text-bloc h4{ width: 70%;}
.section6 .container .col .text-bloc p{ color: #aaaaaa;width: 70%; margin-top: 20px;    font-family: neuzeit-grotesk,sans-serif;
    font-weight: 400;}
.section6 .container .col .text-bloc .date{margin-top: 30px; font-size: 12px;}


footer .container1 {
    position: relative;
    background-color:rgba(0, 0, 0, 0.5);

    width: 100%;
    height: 300px;
    margin-top: 100px;

}

footer .container1 .bloc {
    width: 70%;
    text-align: center;
    color: white;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


footer .container1 .bloc .input-mail {
    width: 50%;
    height: 55px;
    margin-bottom: 10px;

}

footer .container1 .bloc h2{
    margin-bottom: 15px;

}
footer .container1 .bloc .text-mail {
   font-size: 12px;
   font-family: neuzeit-grotesk,sans-serif;
   font-weight: 100;

}
footer .container1 .bloc .btn-mail{
  color: white;
  background-color: #ff6969;

  padding-top: 16.8px;
  padding-bottom: 19px;
  padding-right: 50px;
  padding-left: 50px;
  margin-left: -5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  
}
footer .container1 .bloc .input-mail::placeholder {
   color: #aaaaaa;
   font-size: 12px;
   font-family: neuzeit-grotesk,sans-serif;
   font-weight: 400;
  }
 

footer .container2{
    background-color:white;
    width: 70%;
    height: 400px;
    margin: 0 auto;

}

footer .col{
    width: 24%;
   overflow: hidden;
   
}

footer .col ol{
    height: 500px;
    list-style: none;

}

footer .col ol h3 {
    margin-top: 40px;
    margin-bottom: 30px;
}

footer .col ol li {
   margin-bottom: 30px;
   color: #aaaaaa;
   font-family: neuzeit-grotesk,sans-serif;
   font-weight: 400;
   font-size: 12px;
}

footer .col-icons ol li{
    display: inline-block;

}

footer .container3{
    position: relative;
    height: 50px;
    width: 65%;
    margin: 0 auto;
    color: #aaaaaa;
    font-size: 12px;
}

footer .container3 ol{
    position: absolute;
    top: 0;
    right: 10%;
}

footer .container3 ol li {
    display: inline-block;
    
}
footer .container3  p{
    text-decoration:none;
    font-family: neuzeit-grotesk,sans-serif;
   font-weight: 400;

    
}
    
footer .container3 ol li a{
    text-decoration:none;
    font-family: neuzeit-grotesk,sans-serif;
   font-weight: 400;

    
}